/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/0199dd9f-c601-4444-8506-df1d0d33abcd.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/fc325f07-990d-4280-957c-53ebbbb26a12.vsidx
/RemoteCtrl/.vs/RemoteCtrl/v17/.suo
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/fileList.bin
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/AutoPCH/e3ba80c49dbff46b/REMOTECTRL.ipch
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteCtrl/Debug
